<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} |{% endif %} Skuid by Skoodat</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="http://plusplusben.github.com/skuid"><img src="images/skuid.png"/></a>
        <p>Scalable Kit for User Interface Development</p>
        <p class="view"><a href="http://github.com/plusplusben/skuid">View the Project on GitHub</a></p>
        <ul>
          <li><a href="http://help.skoodat.com/s/2465/m/7567">Skuid Admin<strong>Reference</strong></a></li>
          <li><a href="http://www.skoodat.com">About<strong>Skoodat</strong></a></li>
          <li><a href="http://github.com/plusplusben/skuid">View On<strong>GitHub</strong></a></li>
        </ul>
        <div class="nav">
        	{% include nav.ext %}
        </div>
      </header>
      <section>
      	{{ content | unindent | markdownify }}
      <footer>
        <p><a href="http://www.skoodat.com/skuid">Skuid</a> is a product of <a href="http://www.skoodat.com">Skoodat</a></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>